.feature-item {
  position: relative;
  padding-bottom: 2.5rem;
  padding: 0 18px 1px 18px;

  @mixin atMedium {
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  @mixin atSmall {
    padding-left: 94px;
  }
  &__icon {
    display: block;
    margin: 0 auto;
    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: .7em;
    text-align: center;
    @mixin atSmall {
      font-size: 1.875rem;
      text-align: left;

    }
  }
}
