.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .3);
    &--dark {
      background-color: rgba(23,51,72,.85);
    }

  }
  &__btn-container {
    @mixin atMedium {
    float: right;
    padding-right: 2rem;
    /* display: inline-block; */
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 1.5626rem 2.25rem;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      transition: transform .5s ease-out;
      .site-header--dark & {
        transform: scale(0.57);
      }
    }
  }
  &__logo__graphic {
    text-indent: -9999px;
  }
  &__menu-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .4s ease-out;
    }

    &__middle {
      position: absolute;
      top: 7px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transition: all .4s ease-out;
      transform-origin: 0 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .4s ease-out;
    }

    @mixin atMedium {
      display: none;
    }

    &--close-x {
      &::before {
        transform: rotate(42deg) scaleX(1.25);
      }
      &::after {
        transform: rotate(-40deg) scaleX(1.25)
        translateX(-3px);
      }
      & div {
        opacity:0;
        transform: scaleX(0);
      }
    }
  }
  &__menu-content {
    width: 100%;
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -1;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: auto;
      padding-top: 0;
      transform: scale(1);
    }
    &--is-visible {
      opacity: 1;
      z-index: auto;
      transform: scale(1);
    }
  }
}
