.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }
  mixin@ atMedium {
    background-color: rgba($mainBlue, .3);
  }
  &__btn-container {
    @mixin atMedium {
    float: right;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 1.5626rem 2.25rem;
    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }
  }
  &__logo__graphic {
    text-indent: -9999px;
  }
  &__menu-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    @mixin atMedium {
      display: none;
    }
  }
  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -1;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: auto;
      padding-top: 0;
      transform: ;
    }
    &--is-visible {
      opacity: 1;
      z-index: auto;
      transform: scale(1);
    }
  }
}
